/* ---------- Custom Property Declarations ---------- */

:root {
     /* Custom color values */
     /* Adapted from "The Designer's Dictionary of Color" */
     /* Written in order of hue */

     --white: #e3e3e3;
     --beige: #e8e9c7;
    --butter: #f3df9c;
     --peach: #ebbf7d;
      --pink: #f0b4bf;
     --coral: #ee9c89;
   --fuchsia: #ef5799;
       --red: #ff4646;
   --scarlet: #ff774a;
    --orange: #feac59;
     --ocher: #f0c147;
    --yellow: #ffe600;
     --olive: #99ae19;
--chartreuse: #a3ea5e;
     --green: #52af52;
   --avocado: #547d40;
      --mint: #a0e8ce;
 --turquoise: #67e7da;
 --lightblue: #badeff;
      --blue: #5b76d6;
    --violet: #935acd;
    --purple: #cd6dbe;
     --brown: #be9f7f;
      --gray: #ccc5c5;
     --black: #585858;

     /* User interface accent colors */
     /* Used for buttons, logos, eyecandy, etc. */

     --ui-primary-accent: #7158cd;
     --ui-dark-accent: #321080;
}



/* ---------- Custom Font Declarations ---------- */

/* Poppins 300 */
@font-face {
     font-family: 'Poppins';
     font-style: normal;
     font-weight: 300;
     src: url('fonts/poppins-v19-latin-300.eot'); /* IE9 Compat Modes */
     src: local(''),
          url('fonts/poppins-v19-latin-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
          url('fonts/poppins-v19-latin-300.woff2') format('woff2'), /* Super Modern Browsers */
          url('fonts/poppins-v19-latin-300.woff') format('woff'), /* Modern Browsers */
          url('fonts/poppins-v19-latin-300.ttf') format('truetype'), /* Safari, Android, iOS */
          url('fonts/poppins-v19-latin-300.svg#Poppins') format('svg'); /* Legacy iOS */
   }
   
   /* Poppins 300 – Italic */
   @font-face {
     font-family: 'Poppins';
     font-style: italic;
     font-weight: 300;
     src: url('fonts/poppins-v19-latin-300italic.eot'); /* IE9 Compat Modes */
     src: local(''),
          url('fonts/poppins-v19-latin-300italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
          url('fonts/poppins-v19-latin-300italic.woff2') format('woff2'), /* Super Modern Browsers */
          url('fonts/poppins-v19-latin-300italic.woff') format('woff'), /* Modern Browsers */
          url('fonts/poppins-v19-latin-300italic.ttf') format('truetype'), /* Safari, Android, iOS */
          url('fonts/poppins-v19-latin-300italic.svg#Poppins') format('svg'); /* Legacy iOS */
   }
   
   /* Poppins Regular */
   @font-face {
     font-family: 'Poppins';
     font-style: normal;
     font-weight: 400;
     src: url('fonts/poppins-v19-latin-regular.eot'); /* IE9 Compat Modes */
     src: local(''),
          url('fonts/poppins-v19-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
          url('fonts/poppins-v19-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
          url('fonts/poppins-v19-latin-regular.woff') format('woff'), /* Modern Browsers */
          url('fonts/poppins-v19-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
          url('fonts/poppins-v19-latin-regular.svg#Poppins') format('svg'); /* Legacy iOS */
   }
   
   /* Poppins Italic */
   @font-face {
     font-family: 'Poppins';
     font-style: italic;
     font-weight: 400;
     src: url('fonts/poppins-v19-latin-italic.eot'); /* IE9 Compat Modes */
     src: local(''),
          url('fonts/poppins-v19-latin-italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
          url('fonts/poppins-v19-latin-italic.woff2') format('woff2'), /* Super Modern Browsers */
          url('fonts/poppins-v19-latin-italic.woff') format('woff'), /* Modern Browsers */
          url('fonts/poppins-v19-latin-italic.ttf') format('truetype'), /* Safari, Android, iOS */
          url('fonts/poppins-v19-latin-italic.svg#Poppins') format('svg'); /* Legacy iOS */
   }
   
   /* Poppins 500 */
   @font-face {
     font-family: 'Poppins';
     font-style: normal;
     font-weight: 500;
     src: url('fonts/poppins-v19-latin-500.eot'); /* IE9 Compat Modes */
     src: local(''),
          url('fonts/poppins-v19-latin-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
          url('fonts/poppins-v19-latin-500.woff2') format('woff2'), /* Super Modern Browsers */
          url('fonts/poppins-v19-latin-500.woff') format('woff'), /* Modern Browsers */
          url('fonts/poppins-v19-latin-500.ttf') format('truetype'), /* Safari, Android, iOS */
          url('fonts/poppins-v19-latin-500.svg#Poppins') format('svg'); /* Legacy iOS */
   }
   
   /* Poppins 500 – Italic */
   @font-face {
     font-family: 'Poppins';
     font-style: italic;
     font-weight: 500;
     src: url('fonts/poppins-v19-latin-500italic.eot'); /* IE9 Compat Modes */
     src: local(''),
          url('fonts/poppins-v19-latin-500italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
          url('fonts/poppins-v19-latin-500italic.woff2') format('woff2'), /* Super Modern Browsers */
          url('fonts/poppins-v19-latin-500italic.woff') format('woff'), /* Modern Browsers */
          url('fonts/poppins-v19-latin-500italic.ttf') format('truetype'), /* Safari, Android, iOS */
          url('fonts/poppins-v19-latin-500italic.svg#Poppins') format('svg'); /* Legacy iOS */
   }
   
   /* Poppins 600 */
   @font-face {
     font-family: 'Poppins';
     font-style: normal;
     font-weight: 600;
     src: url('fonts/poppins-v19-latin-600.eot'); /* IE9 Compat Modes */
     src: local(''),
          url('fonts/poppins-v19-latin-600.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
          url('fonts/poppins-v19-latin-600.woff2') format('woff2'), /* Super Modern Browsers */
          url('fonts/poppins-v19-latin-600.woff') format('woff'), /* Modern Browsers */
          url('fonts/poppins-v19-latin-600.ttf') format('truetype'), /* Safari, Android, iOS */
          url('fonts/poppins-v19-latin-600.svg#Poppins') format('svg'); /* Legacy iOS */
   }

/* Poppins 600 - Italic */
     @font-face {
          font-family: 'Poppins';
          font-style: italic;
          font-weight: 600;
          src: url('fonts/poppins-v19-latin-600italic.eot'); /* IE9 Compat Modes */
          src: local(''),
               url('fonts/poppins-v19-latin-600italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
               url('fonts/poppins-v19-latin-600italic.woff2') format('woff2'), /* Super Modern Browsers */
               url('fonts/poppins-v19-latin-600italic.woff') format('woff'), /* Modern Browsers */
               url('fonts/poppins-v19-latin-600italic.ttf') format('truetype'), /* Safari, Android, iOS */
               url('fonts/poppins-v19-latin-600italic.svg#Poppins') format('svg'); /* Legacy iOS */
        }
   
   /* Poppins 700 */
   @font-face {
     font-family: 'Poppins';
     font-style: normal;
     font-weight: 700;
     src: url('fonts/poppins-v19-latin-700.eot'); /* IE9 Compat Modes */
     src: local(''),
          url('fonts/poppins-v19-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
          url('fonts/poppins-v19-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
          url('fonts/poppins-v19-latin-700.woff') format('woff'), /* Modern Browsers */
          url('fonts/poppins-v19-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
          url('fonts/poppins-v19-latin-700.svg#Poppins') format('svg'); /* Legacy iOS */
   }
   
   /* Poppins 700 - Italic */
   @font-face {
     font-family: 'Poppins';
     font-style: italic;
     font-weight: 700;
     src: url('fonts/poppins-v19-latin-700italic.eot'); /* IE9 Compat Modes */
     src: local(''),
          url('fonts/poppins-v19-latin-700italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
          url('fonts/poppins-v19-latin-700italic.woff2') format('woff2'), /* Super Modern Browsers */
          url('fonts/poppins-v19-latin-700italic.woff') format('woff'), /* Modern Browsers */
          url('fonts/poppins-v19-latin-700italic.ttf') format('truetype'), /* Safari, Android, iOS */
          url('fonts/poppins-v19-latin-700italic.svg#Poppins') format('svg'); /* Legacy iOS */
   }
      
   /* Poppins 800 */
   @font-face {
     font-family: 'Poppins';
     font-style: normal;
     font-weight: 800;
     src: url('fonts/poppins-v19-latin-800.eot'); /* IE9 Compat Modes */
     src: local(''),
          url('fonts/poppins-v19-latin-800.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
          url('fonts/poppins-v19-latin-800.woff2') format('woff2'), /* Super Modern Browsers */
          url('fonts/poppins-v19-latin-800.woff') format('woff'), /* Modern Browsers */
          url('fonts/poppins-v19-latin-800.ttf') format('truetype'), /* Safari, Android, iOS */
          url('fonts/poppins-v19-latin-800.svg#Poppins') format('svg'); /* Legacy iOS */
   }
   
   /* Poppins 800 - Italic */
   @font-face {
     font-family: 'Poppins';
     font-style: italic;
     font-weight: 800;
     src: url('fonts/poppins-v19-latin-800italic.eot'); /* IE9 Compat Modes */
     src: local(''),
          url('fonts/poppins-v19-latin-800italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
          url('fonts/poppins-v19-latin-800italic.woff2') format('woff2'), /* Super Modern Browsers */
          url('fonts/poppins-v19-latin-800italic.woff') format('woff'), /* Modern Browsers */
          url('fonts/poppins-v19-latin-800italic.ttf') format('truetype'), /* Safari, Android, iOS */
          url('fonts/poppins-v19-latin-800italic.svg#Poppins') format('svg'); /* Legacy iOS */
   }



/* ---------- HTML Tag Rules ---------- */

body{ /* Effects the main body of the document */
     background-color: rgb(255, 255, 255);
     color: #1b1028;
     margin: 0;
}

footer{ /* Effects the footer information on the document */
     align-items: center;
     display: flex;
     font-family: 'Poppins';
     justify-content: center;
     margin-top: 1em;
}

h1{ /* Used for Prompt Catalog header logo */
     margin-bottom: 1em;
     margin-left: .5em;
}

h2{ /* Old rules. IIRC there used to be a subheader with my name under the H1 tags, but that info has since been moved to the footer. */
     font-weight: normal;
     margin-bottom: 1.5em;
     margin-top: .5em;
}

input:focus, textarea:focus, select:focus{ /* Removes the default outline from input fields. */
     outline:none;
}

main{ /* Effects the forms and tables */
     font-family: 'Poppins';
     margin: auto;
     max-width: 765px;
}

table{ /* Effects the general style of the table */
     border-collapse: collapse;
     width: 100%;
}

td{ /* Effects the individual cells of information below the table headers */
     border-bottom: .05em solid rgb(219, 219, 219);
     padding: 1em;
}

textarea{ /* Effects the prompt entry field */
     resize: none;
}

th{ /* Effects the header cells on the table */
     border-bottom: .1em solid rgb(219, 219, 219);
     padding-bottom: .5em;
}


tr{ /* Effects the individual rows of information on the table. */
     border-radius: .25em;
     transition: background-color .25s;
}

tr:hover{ /* Enables the useful hover highlight effect on rows */
     background-color: rgb(247, 247, 248);
}



/* ----------  Class-Specific Rules ---------- */

.catalog-color{ /* Creates the general template for the color tags in the table. Background color is set to "none" by default. */
     background-color: none;
     border-radius: .15em;
     color: white;
     display: flex;
     justify-content: center;
     padding: .25em;
     text-align: center;
}

.count{ /* Specifically used for the message underneath the search bar that indicates the total of entries inside the database */
     color: rgb(165, 165, 165);
     display: flex;
     font-size: .75em;
     justify-content: center;
}

.header-text{ /* Effects the header text in the site logo */
     margin-left: .5em;
}

.login-form{
     align-items: center;
     background-color: white;
     border-radius: .5em;
     display: flex;
     flex-direction: column;
     justify-content: center;
     width: 20em;
}

.login-textbox{
     border-radius: .25em;
     border: .05em solid rgb(190, 190, 190);
     font-family: 'Poppins';
     font-size: 1em;
     margin-top: 1em;
     max-width: 16em;
     padding: .5em;
};

.table-date{ /* Effects the "date" column display in the catalog. */
     font-variant-numeric: tabular-nums;
     width: 6em;
}

.table-id{ /* Effects the "ID" column display in the catalog. */
     font-variant-numeric: tabular-nums;
     font-weight: bold;
     text-align: center;
}



/* ----------  ID-Specific Rules ---------- */

#catalog-listings{ /* Specifically effects the table used to list catalog entries */
     margin-top: 1.5em;
}

#entry-form{ /* Effects the div that wraps around the forms that are used to submit prompts into the catalog */
     background-color: rgb(247, 247, 248);
     margin: 0;
     padding: 1em;
}

#login-body{
     background-color: var(--ui-primary-accent);
}

#prompt{ /* Effects the <textarea> field used to write the prompts */
     border-radius: .25em;
     border: .075em solid rgb(219, 219, 219);
     display: flex;
     font-family: 'Poppins';
     font-size: 1em;
     grid-area: 1 / 1 / 2 / 3;
     justify-content: center;
     margin-bottom: .5em;
     overflow: auto;
     padding: 1.5em;
}

#prompt-form{ /* Effects the <form> tags containing the input fields used for catalog entry */
     display: grid;
     grid-template-columns: 1fr 1fr;
     grid-template-rows: 2fr 4em;
     grid-template-areas: 'prompt prompt'
                         'tag-input submit-box';
}

#search-box{ /* Effects the input field for search queries  */
     border-bottom: .05em solid rgb(219, 219, 219);
     border-left: none;
     border-right: none;
     border-top: .05em solid rgb(219, 219, 219);
     font-family: 'Poppins';
     font-size: 1em;
     margin: 0;
     padding: .75em;;
     text-align: left;
     width: 100%;
}

#search-error{ /* Effects the error message that occurs if no matches were found in database query */
     color: var(--red);
     display: flex;
     justify-content: center;
     padding-top: 2em;
}

#search-form{ /* Effects the <form> tags used to nest the search box. */
     display: flex;
     justify-content: center;

}

#search-input{ /* Effects the <div> tags inside the <form> tags used to nest the search box.  */
     display: flex;
     margin-left: 1em;
     margin-top: 3em;

}

#search-icon{ /* Effects the <div> next to the input field that contains the search icon.  */
     align-items: center;
     background-color: white;
     border-bottom: .05em solid rgb(219, 219, 219);
     border-left: .05em solid rgb(219, 219, 219);
     border-radius: .25em 0 0 .25em;
     border-right: none;
     border-top: .05em solid rgb(219, 219, 219);
     color: white;
     display: flex;
     font-size: 1em;
     justify-content: center;
     width: 3em;
}

#search-submit{ /* Effects the "SEARCH" button */
     background-color: var(--ui-primary-accent);
     border-radius: 0 .25em .25em 0;
     border: none;
     color: var(--white);
     font-family: 'Poppins';
     font-size: 1em;
     height: 100%;
     margin-right: .75em;
     transition: background-color .3s;
     width: 6em;
}

#search-submit:hover{ /* Gives the "SEARCH" button a cool hover effect  */
     background-color: var(--ui-dark-accent);
     cursor: pointer;
}

#search-svg{ /* Effects the search icon SVG file  */
     border: none;
     margin-left: .5em;
}

#submit{ /* Effects the "ENTER" button */
     background-color: var(--ui-primary-accent);
     border-radius: .25em;
     border: none;
     color: var(--white);
     font-family: 'Poppins';
     font-size: 1em;
     margin-top: .4em;
     transition: background-color .3s;
     width: 6em;
}

#submit:hover{ /* Give the "ENTER" button a cool hover effect  */
     background-color: var(--ui-dark-accent);
     cursor: pointer;
}

#submit-box{ /* Effects the <div> that contains the "ENTER" button  */
     display:flex;
     justify-content: right;
}

#tag-input{  /* Effects the <div> that contains the color tag inputs */
     display: flex;
     margin-top: .5em;

}

#tag-icon{ /* Effects the <div> next to the tag-box that contains the "#" symbol */
     align-items: center;
     background-color: rgb(190, 190, 190);
     border-radius: .15em 0 0 .15em;
     color: white;
     display: flex;
     font-size: 1.5em;
     justify-content: center;
     width: 1.5em;
}

#tag-box{ /* Effects the input box for the color tags */
     border-radius: 0 .25em .25em 0;
     border: .05em solid rgb(190, 190, 190);
     font-family: 'Poppins';
     font-size: 1em;
     margin: 0;
     max-width: 8em;
     text-align: center;
}



/* ----------  Media Queries ---------- */

@media screen and (max-width: 480px){
     .header-color, .table-color{ /* Hides the color-tag table column unless the browser window is at least 480px wide */
          display: none;
     }
}

@media screen and (max-width: 700px){
     .header-date, .table-date{ /* Hides the date table column unless the browser window is at least 700px wide */
          display: none;
     }
}


@media screen and (min-width: 400px){
     #tag-box{ /* Changes the size of the tag box so that it uses more space on larger screen devices. */
          max-width: 10em;
     }
}

@media screen and (min-width: 700px){
     body{
          margin: 1em; /* Only adds a margin once the browser window exceeds the max width of the <body> */
     }

     #entry-form{
          border-radius: .5em; /* Only gives the entry form box rounded corners in cases where there is padding on the sides of the box. */
     }
}

