:root {
/* Custom Colors (adapted from the Designers Dictionary for Color */
     --white: #efefef;
     --beige: #f5f5dc;
    --butter: #fff3cc;
     --peach: #ffe5b4;
      --pink: #ffc0cb;
     --coral: #e8a798;
   --fuchsia: #fd3f92;
       --red: #eb0000;
   --scarlet: #ff4400;
    --orange: #ff8000;
     --ocher: #cc7722;
    --yellow: #ffff00;
     --olive: #808000;
--chartreuse: #a4f950;
     --green: #04bc04;
   --avocado: #4a7337;
      --mint: #3eb489;
 --turquoise: #40e0d0;
 --lightblue: #add8e6;
      --blue: #0000ff;
    --violet: #7f00ff;
    --purple: #800080;
     --brown: #804000;
      --gray: #808080;
     --black: #121212;
}



main{
     max-width: 765px;
     margin: auto;
     font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


#prompt-form{
     display: grid;
     grid-template-columns: 1fr 1fr;
     grid-template-rows: 2fr 4em;
     grid-template-areas: 'prompt prompt'
                         'tag-input submit-box';
}

#prompt{
     grid-area: 1 / 1 / 2 / 3;
     border: .1em solid black;
     border-radius: .25em;
     padding: 1.5em;
     font-size: 1.25em;
     display: flex;
     margin-bottom: .5em;
     justify-content: center;
     overflow: auto;
     font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#tag-input{
     display: flex;
     margin-top: .5em;

}

#tag-icon{
     display: flex;
     align-items: center;
     justify-content: center;
     width: 1.5em;
     border-radius: .15em 0 0 .15em;
     background-color: var(--black);
     color: white;
     font-size: 2em;
}

#tag-box{
     border-radius: 0 .25em .25em 0;
     font-size: 1.25em;
     border: .1em solid black;
     max-width: 6em;
     text-align: center;
     margin: 0;
}

#search-form{
     display: flex;
     justify-content: right;
}

#search-input{
     display: flex;
     margin-top: 1em;
     margin-left: 1em;

}

#search-icon{
     display: flex;
     align-items: center;
     justify-content: center;
     width: 1.5em;
     border-top: .1em solid black;
     border-bottom: .1em solid black;
     border-left: .1em solid black;
     border-right: none;
     border-radius: .15em 0 0 .15em;
     background-color: white;
     color: white;
     font-size: 1.5em;
}

#search-box{
     font-size: 1.25em;
     border-top: .1em solid black;
     border-bottom: .1em solid black;
     border-right: none;
     border-left: none;
     width: 100%;
     text-align: left;
     margin: 0;
     padding: .75em;;
}

#search-submit{
     width: 6em;
     background-color: var(--black);
     color: var(--white);
     font-size: 1.25em;
     border-radius: 0 .25em .25em 0;
     transition: background-color .3s;
     border: none;
     height: 100%;
     margin-right: .75em;
}

#search-svg{
     margin-left: .5em;
     border: none;
}

#search-submit:hover{
     cursor: pointer;
     background-color: var(--blue);
}


#submit{
     width: 6em;
     margin-top: .4em;
     background-color: var(--black);
     color: var(--white);
     font-size: 1.25em;
     border-radius: .25em;
     transition: background-color .3s;
     border: none;
}

#submit:hover{
     cursor: pointer;
     background-color: var(--green);
}

#submit-box{
     display:flex;
     justify-content: right;
}

#catalog-listings{
     margin-top: 3em;
}

table{
     border-collapse: collapse;
}

th{
     padding-bottom: .5em;
     border-bottom: .15em solid var(--black);
}

td{
     padding: 1em;
     border-bottom: .15em solid rgb(196, 196, 196);
}

.table-date{
     width: 6em;
     font-variant-numeric: tabular-nums;
}

.table-id{
     font-variant-numeric: tabular-nums;
}

h1{
     margin-bottom: 0;
}

h2{
     font-weight: normal;
     margin-top: .5em;
     margin-bottom: 1.5em;
}

.catalog-color{
     border-radius: .1em;
     background-color: none;
     padding: .25em;
     color: white;
     font-weight: bold;
     text-align: center;
}

textarea{
     resize: none;
}

footer{
     margin-top: 1em;
     display: flex;
     align-items: center;
     justify-content: center;
}

@media screen and (min-width: 444px){
     #entry-form{
          padding: 1em;
          border: .15em solid black;
          border-radius: .5em;
     }

     #tag-box{
          border-radius: 0 .25em .25em 0;
          font-size: 1.25em;
          border: .1em solid black;
          max-width: 10em;
          text-align: center;
          margin: 0;
     }
}