/* ---------- Custom Property Declarations ---------- */

:root {
     /* Custom color values */
     /* Adapted from "The Designer's Dictionary of Color" */
     /* Written in order of hue */

     --white: #e3e3e3;
     --beige: #e8e9c7;
    --butter: #f3df9c;
     --peach: #ebbf7d;
      --pink: #f0b4bf;
     --coral: #ee9c89;
   --fuchsia: #ef5799;
       --red: #ff4646;
   --scarlet: #ff774a;
    --orange: #feac59;
     --ocher: #f0c147;
    --yellow: #ffe600;
     --olive: #99ae19;
--chartreuse: #a3ea5e;
     --green: #52af52;
   --avocado: #547d40;
      --mint: #a0e8ce;
 --turquoise: #67e7da;
 --lightblue: #badeff;
      --blue: #5b76d6;
    --violet: #935acd;
    --purple: #cd6dbe;
     --brown: #be9f7f;
      --gray: #ccc5c5;
     --black: #585858;

     /* User interface accent colors */
     /* Used for buttons, logos, eyecandy, etc. */

     --ui-primary-accent: rgb(226, 33, 69);
     --ui-dark-accent: rgb(144, 8, 65);


     --ui-background: rgb(255, 255, 255);
     --ui-light-grey: rgb(219, 219, 219);
     --ui-regular-grey: rgb(190, 190, 190);
     --ui-row-highlights: rgb(247, 247, 248);
     --ui-dark-grey: #585859;
     --ui-text-color: #1b1028;
     --ui-white-text-color: rgb(255, 255, 255);
     --ui-input-background-text: rgb(255, 255, 255) ;
}

@media (prefers-color-scheme: dark){
     :root{
          --ui-background: #121212;
          --ui-light-grey: rgb(63, 63, 63);
          --ui-regular-grey: rgb(60, 60, 60);
          --ui-row-highlights: rgb(33, 33, 33);
          --ui-dark-grey: rgb(93, 93, 93);
          --ui-text-color: #efefef;
          --ui-white-text-color: #efefef;
          --ui-input-background-text: rgb(39, 39, 39) ;
     }
}

/* ---------- Custom Font Declarations ---------- */

/* Poppins 300 */
@font-face {
     font-family: 'Poppins';
     font-style: normal;
     font-weight: 300;
     src: url('fonts/poppins-v19-latin-300.eot'); /* IE9 Compat Modes */
     src: local(''),
          url('fonts/poppins-v19-latin-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
          url('fonts/poppins-v19-latin-300.woff2') format('woff2'), /* Super Modern Browsers */
          url('fonts/poppins-v19-latin-300.woff') format('woff'), /* Modern Browsers */
          url('fonts/poppins-v19-latin-300.ttf') format('truetype'), /* Safari, Android, iOS */
          url('fonts/poppins-v19-latin-300.svg#Poppins') format('svg'); /* Legacy iOS */
   }
   
   /* Poppins 300 – Italic */
   @font-face {
     font-family: 'Poppins';
     font-style: italic;
     font-weight: 300;
     src: url('fonts/poppins-v19-latin-300italic.eot'); /* IE9 Compat Modes */
     src: local(''),
          url('fonts/poppins-v19-latin-300italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
          url('fonts/poppins-v19-latin-300italic.woff2') format('woff2'), /* Super Modern Browsers */
          url('fonts/poppins-v19-latin-300italic.woff') format('woff'), /* Modern Browsers */
          url('fonts/poppins-v19-latin-300italic.ttf') format('truetype'), /* Safari, Android, iOS */
          url('fonts/poppins-v19-latin-300italic.svg#Poppins') format('svg'); /* Legacy iOS */
   }
   
   /* Poppins Regular */
   @font-face {
     font-family: 'Poppins';
     font-style: normal;
     font-weight: 400;
     src: url('fonts/poppins-v19-latin-regular.eot'); /* IE9 Compat Modes */
     src: local(''),
          url('fonts/poppins-v19-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
          url('fonts/poppins-v19-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
          url('fonts/poppins-v19-latin-regular.woff') format('woff'), /* Modern Browsers */
          url('fonts/poppins-v19-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
          url('fonts/poppins-v19-latin-regular.svg#Poppins') format('svg'); /* Legacy iOS */
   }
   
   /* Poppins Italic */
   @font-face {
     font-family: 'Poppins';
     font-style: italic;
     font-weight: 400;
     src: url('fonts/poppins-v19-latin-italic.eot'); /* IE9 Compat Modes */
     src: local(''),
          url('fonts/poppins-v19-latin-italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
          url('fonts/poppins-v19-latin-italic.woff2') format('woff2'), /* Super Modern Browsers */
          url('fonts/poppins-v19-latin-italic.woff') format('woff'), /* Modern Browsers */
          url('fonts/poppins-v19-latin-italic.ttf') format('truetype'), /* Safari, Android, iOS */
          url('fonts/poppins-v19-latin-italic.svg#Poppins') format('svg'); /* Legacy iOS */
   }
   
   /* Poppins 500 */
   @font-face {
     font-family: 'Poppins';
     font-style: normal;
     font-weight: 500;
     src: url('fonts/poppins-v19-latin-500.eot'); /* IE9 Compat Modes */
     src: local(''),
          url('fonts/poppins-v19-latin-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
          url('fonts/poppins-v19-latin-500.woff2') format('woff2'), /* Super Modern Browsers */
          url('fonts/poppins-v19-latin-500.woff') format('woff'), /* Modern Browsers */
          url('fonts/poppins-v19-latin-500.ttf') format('truetype'), /* Safari, Android, iOS */
          url('fonts/poppins-v19-latin-500.svg#Poppins') format('svg'); /* Legacy iOS */
   }
   
   /* Poppins 500 – Italic */
   @font-face {
     font-family: 'Poppins';
     font-style: italic;
     font-weight: 500;
     src: url('fonts/poppins-v19-latin-500italic.eot'); /* IE9 Compat Modes */
     src: local(''),
          url('fonts/poppins-v19-latin-500italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
          url('fonts/poppins-v19-latin-500italic.woff2') format('woff2'), /* Super Modern Browsers */
          url('fonts/poppins-v19-latin-500italic.woff') format('woff'), /* Modern Browsers */
          url('fonts/poppins-v19-latin-500italic.ttf') format('truetype'), /* Safari, Android, iOS */
          url('fonts/poppins-v19-latin-500italic.svg#Poppins') format('svg'); /* Legacy iOS */
   }
   
   /* Poppins 600 */
   @font-face {
     font-family: 'Poppins';
     font-style: normal;
     font-weight: 600;
     src: url('fonts/poppins-v19-latin-600.eot'); /* IE9 Compat Modes */
     src: local(''),
          url('fonts/poppins-v19-latin-600.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
          url('fonts/poppins-v19-latin-600.woff2') format('woff2'), /* Super Modern Browsers */
          url('fonts/poppins-v19-latin-600.woff') format('woff'), /* Modern Browsers */
          url('fonts/poppins-v19-latin-600.ttf') format('truetype'), /* Safari, Android, iOS */
          url('fonts/poppins-v19-latin-600.svg#Poppins') format('svg'); /* Legacy iOS */
   }

/* Poppins 600 - Italic */
     @font-face {
          font-family: 'Poppins';
          font-style: italic;
          font-weight: 600;
          src: url('fonts/poppins-v19-latin-600italic.eot'); /* IE9 Compat Modes */
          src: local(''),
               url('fonts/poppins-v19-latin-600italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
               url('fonts/poppins-v19-latin-600italic.woff2') format('woff2'), /* Super Modern Browsers */
               url('fonts/poppins-v19-latin-600italic.woff') format('woff'), /* Modern Browsers */
               url('fonts/poppins-v19-latin-600italic.ttf') format('truetype'), /* Safari, Android, iOS */
               url('fonts/poppins-v19-latin-600italic.svg#Poppins') format('svg'); /* Legacy iOS */
        }
   
   /* Poppins 700 */
   @font-face {
     font-family: 'Poppins';
     font-style: normal;
     font-weight: 700;
     src: url('fonts/poppins-v19-latin-700.eot'); /* IE9 Compat Modes */
     src: local(''),
          url('fonts/poppins-v19-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
          url('fonts/poppins-v19-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
          url('fonts/poppins-v19-latin-700.woff') format('woff'), /* Modern Browsers */
          url('fonts/poppins-v19-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
          url('fonts/poppins-v19-latin-700.svg#Poppins') format('svg'); /* Legacy iOS */
   }
   
   /* Poppins 700 - Italic */
   @font-face {
     font-family: 'Poppins';
     font-style: italic;
     font-weight: 700;
     src: url('fonts/poppins-v19-latin-700italic.eot'); /* IE9 Compat Modes */
     src: local(''),
          url('fonts/poppins-v19-latin-700italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
          url('fonts/poppins-v19-latin-700italic.woff2') format('woff2'), /* Super Modern Browsers */
          url('fonts/poppins-v19-latin-700italic.woff') format('woff'), /* Modern Browsers */
          url('fonts/poppins-v19-latin-700italic.ttf') format('truetype'), /* Safari, Android, iOS */
          url('fonts/poppins-v19-latin-700italic.svg#Poppins') format('svg'); /* Legacy iOS */
   }
      
   /* Poppins 800 */
   @font-face {
     font-family: 'Poppins';
     font-style: normal;
     font-weight: 800;
     src: url('fonts/poppins-v19-latin-800.eot'); /* IE9 Compat Modes */
     src: local(''),
          url('fonts/poppins-v19-latin-800.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
          url('fonts/poppins-v19-latin-800.woff2') format('woff2'), /* Super Modern Browsers */
          url('fonts/poppins-v19-latin-800.woff') format('woff'), /* Modern Browsers */
          url('fonts/poppins-v19-latin-800.ttf') format('truetype'), /* Safari, Android, iOS */
          url('fonts/poppins-v19-latin-800.svg#Poppins') format('svg'); /* Legacy iOS */
   }
   
   /* Poppins 800 - Italic */
   @font-face {
     font-family: 'Poppins';
     font-style: italic;
     font-weight: 800;
     src: url('fonts/poppins-v19-latin-800italic.eot'); /* IE9 Compat Modes */
     src: local(''),
          url('fonts/poppins-v19-latin-800italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
          url('fonts/poppins-v19-latin-800italic.woff2') format('woff2'), /* Super Modern Browsers */
          url('fonts/poppins-v19-latin-800italic.woff') format('woff'), /* Modern Browsers */
          url('fonts/poppins-v19-latin-800italic.ttf') format('truetype'), /* Safari, Android, iOS */
          url('fonts/poppins-v19-latin-800italic.svg#Poppins') format('svg'); /* Legacy iOS */
   }



/* ---------- HTML Tag Rules ---------- */

body{ /* Effects the main body of the document */
     background-color: var(--ui-background);
     color: var(--ui-text-color);
     margin: 0;
}

footer{ /* Effects the footer information on the document */
     align-items: center;
     display: flex;
     flex-direction: column;
     font-family: 'Poppins';
     justify-content: center;
     margin-top: 2em;
     color: var(--ui-dark-grey);
     font-size: .8em;
     bottom: 0;
     left: 0;
     right: 0;
     height: 8em;
     border-top: .05em solid var(--ui-light-grey);
     width: 100%;
}

h1{ /* Used for Prompt Catalog header logo */
     margin-left: .5em;
     display: flex;
     align-items: center;
     white-space: nowrap;
}

h2{ /* Old rules. IIRC there used to be a subheader with my name under the H1 tags, but that info has since been moved to the footer. */
     font-weight: 600;
     margin-bottom: 1em;
     margin-top: .5em;
     text-align: center;
}

header{
     position: fixed;
     font-family: 'Poppins';
     top: 0;
     width: 100%;
     background-color: var(--ui-background);
     border-bottom: .05em solid var(--ui-light-grey);
     left: 0;
     display: flex;
     align-items: center;
     justify-content: center;
}

input{
     background-color: var(--ui-input-background-text);
     color: var(--ui-text-color);
}

input:focus, textarea:focus, select:focus{ /* Removes the default outline from input fields. */
     outline:none;
}

main{ /* Effects the forms and tables */
     font-family: 'Poppins';
     margin: auto;
     max-width: 765px;
     margin-top: 8em;
}

table{ /* Effects the general style of the table */
     border-collapse: collapse;
     width: 100%;
}

td{ /* Effects the individual cells of information below the table headers */
     border-bottom: .05em solid var(--ui-light-grey);
     padding: 1em;
}

textarea{ /* Effects the prompt entry field */
     resize: none;
     background-color: var(--ui-input-background-text);
     color: var(--ui-text-color);
}

th{ /* Effects the header cells on the table */
     border-bottom: .1em solid var(--ui-light-grey);
     padding-bottom: .5em;
}



/* ----------  Class-Specific Rules ---------- */


.count{ /* Specifically used for the message underneath the search bar that indicates the total of entries inside the database */
     color: var(--ui-dark-grey);
     display: flex;
     font-size: .75em;
     justify-content: center;
}

.header-contents{
     max-width: 800px;
     display: flex;
     align-items: center;
     justify-content: space-between;
     width: 100%;
}

.header-links{
     overflow: none;
     margin-right: 1em;
}

.header-logo{
     display: flex;
     max-width: 765px;
     justify-content: center;
     flex-direction: row;
     align-items: center;
     color: var(--ui-text-color);
     text-decoration: none;
}

.header-link-text{
     text-decoration: none;
     color: var(--ui-text-color);
     transition: color .25s;
     padding: .4em;
}

.header-link-text:hover{
     color: var(--ui-primary-accent);
}

.header-row{
     transition: none;
}

tr .header-row{
     background-color: none;
}



.header-text{ /* Effects the header text in the site logo */
     max-width: 8em;
     margin-left: .5em;
     transition: color .25s;
}

.header-text:hover{ /* Effects the header text in the site logo */
     color: var(--ui-primary-accent)
}


.login-form{
     align-items: center;
     background-color: var(--ui-background);
     border: .075em solid var(--ui-light-grey);
     border-radius: .5em;
     display: flex;
     flex-direction: column;
     justify-content: center;
     padding: 2em;
     width: 19em;
}

.login-logo{
     margin: 0;
}

.login-logo-text{
     margin-left: .5em;
}

.login-question{
     margin-top: 1.5em;
     font-size: .9em;
     color: var(--ui-dark-grey);
}

.login-question-link{
     color: var(--ui-primary-accent);
     font-weight: 500;
     text-decoration: none;
}

.login-question-link:hover{
     color: var(--ui-dark-accent);
}

.login-submit{
     background-color: var(--ui-primary-accent);
     border-radius: .25em;
     border: none;
     color: var(--ui-white-text-color);
     font-family: 'Poppins';
     font-size: 1em;
     font-weight: 550;
     margin-top: 1.5em;
     padding: .5em;
     padding-left: 1.25em;
     padding-right: 1.25em;
     transition: background-color .3s;
     width: auto
}

.login-submit:hover{
     background-color: var(--ui-dark-accent);
     cursor: pointer;
}

.login-textbox{
     border-radius: .25em;
     border: .05em solid var(--ui-regular-grey);
     font-family: 'Poppins';
     font-size: 1em;
     max-width: 100%;
     padding: .5em;
     margin-top: 1em;
}


.browse-search-submit{ /* Effects the "SEARCH" button */
     background-color: var(--ui-primary-accent);
     border-radius: 0 .25em .25em 0;
     border: none;
     color: var(--ui-white-text-color);
     font-family: 'Poppins';
     font-size: 1em;
     font-weight: 550;
     height: 100%;
     margin-right: .75em;
     transition: background-color .3s;
     width: 4em;
}

.browse-search-submit:hover{ /* Gives the "SEARCH" button a cool hover effect  */
     background-color: var(--ui-dark-accent);
     cursor: pointer;
}


.table-date{ /* Effects the "date" column display in the catalog. */
     font-variant-numeric: tabular-nums;
     width: 6em;
}

.table-id{ /* Effects the "ID" column display in the catalog. */
     font-variant-numeric: tabular-nums;
     font-weight: bold;
     text-align: center;
}

.table-tag{
     text-align: center;
     color: var(--ui-primary-accent);
}

.table-row{ /* Effects the individual rows of information on the table. */
     border-radius: .25em;
     transition: background-color .25s;
}

.table-row:hover{ /* Enables the useful hover highlight effect on rows */
     background-color: var(--ui-row-highlights);
}

.tag-fluff{
     background-color: var(--ui-primary-accent);
     color: var(--ui-white-text-color);
     border-radius: .2em;
     padding: .25em;
     padding-left: .5em;
     padding-right: .5em;
}



/* ----------  ID-Specific Rules ---------- */

#browse-inputs{
     display: flex;
}

#catalog-listings{ /* Specifically effects the table used to list catalog entries */
     margin-top: 1.5em;
}

#entry-form{ /* Effects the div that wraps around the forms that are used to submit prompts into the catalog */
     background-color: var(--ui-row-highlights);
     margin: 0;
     padding: 1em;
}

#footer-links a{
     color: var(--ui-text-color);
     margin-left: 1em;
     margin-right: 1em;
     text-decoration: none;
     transition: color .25s;
}

#footer-links a:hover{
     color: var(--ui-primary-accent);
}

#login-body{
     align-items: center;
     background-color: var(--ui-row-highlights);
     display: flex;
     justify-content: center;
}

#login-subheader{
     color: var(--ui-dark-grey);
     font-size: .9em;
     font-weight: 300;
     margin: 0;
     margin-bottom: .25em;
     margin-top: .75em;
}

#prompt{ /* Effects the <textarea> field used to write the prompts */
     border-radius: .25em;
     border: .075em solid var(--ui-light-grey);
     display: flex;
     font-family: 'Poppins';
     font-size: 1em;
     grid-area: 1 / 1 / 2 / 3;
     justify-content: center;
     margin-bottom: .5em;
     overflow: auto;
     padding: 1.5em;
}

#prompt-form{ /* Effects the <form> tags containing the input fields used for catalog entry */
     display: grid;
     grid-template-columns: 1fr 1fr;
     grid-template-rows: 2fr 4em;
     grid-template-areas: 'prompt prompt'
                         'tag-input submit-box';
}

.search-box{ /* Effects the input field for search queries  */
     border-bottom: .05em solid var(--ui-light-grey);
     border-left: none;
     border-right: none;
     border-top: .05em solid var(--ui-light-grey);
     font-family: 'Poppins';
     font-size: 1em;
     margin: 0;
     padding: .75em;;
     text-align: left;
     width: 100%;
}

#tag-search-box{ /* Effects the input field for search queries  */
     border-bottom: .05em solid var(--ui-light-grey);
     border-left: none;
     border-right: none;
     border-top: .05em solid var(--ui-light-grey);
     font-family: 'Poppins';
     font-size: 1em;
     margin: 0;
     padding: .75em;
     text-align: left;
}

#search-error{ /* Effects the error message that occurs if no matches were found in database query */
     color: var(--ui-primary-accent);
     display: flex;
     justify-content: center;
     padding-top: 2em;
}

#login-error{ /* Effects the error message that occurs if no matches were found in database query */
     color: var(--red);
     display: flex;
     justify-content: center;
     padding-top: 1em;
}

.search-form{ /* Effects the <form> tags used to nest the search box. */
     display: flex;
     justify-content: center;
     align-items: center;

}

.search-input{ /* Effects the <div> tags inside the <form> tags used to nest the search box.  */
     display: flex;
     margin-left: 1em;
     margin-top: 1em;
     flex-direction: row;
     max-width: 650px;

}

.search-icon{ /* Effects the <div> next to the input field that contains the search icon.  */
     align-items: center;
     background-color: var(--ui-input-background-text);
     border-bottom: .05em solid var(--ui-light-grey);
     border-left: .05em solid var(--ui-light-grey);
     border-radius: .25em 0 0 .25em;
     border-right: none;
     border-top: .05em solid var(--ui-light-grey);
     color: var(--ui-white-text-color);
     display: flex;
     font-size: 1em;
     justify-content: center;
     width: 3em;
}



#search-submit{ /* Effects the "SEARCH" button */
     background-color: var(--ui-primary-accent);
     border-radius: 0 .25em .25em 0;
     border: none;
     color: var(--ui-white-text-color);
     font-family: 'Poppins';
     font-size: 1em;
     font-weight: 550;
     height: 100%;
     margin-right: .75em;
     transition: background-color .3s;
     width: 6em;
}

#search-submit:hover{ /* Gives the "SEARCH" button a cool hover effect  */
     background-color: var(--ui-dark-accent);
     cursor: pointer;
}

#search-svg{ /* Effects the search icon SVG file  */
     border: none;
     margin-left: .5em;
}

#submit{ /* Effects the "ENTER" button */
     background-color: var(--ui-primary-accent);
     border-radius: .25em;
     border: none;
     color: var(--ui-white-text-color);
     font-family: 'Poppins';
     font-size: 1em;
     font-weight: 550;
     margin-top: .4em;
     transition: background-color .3s;
     width: 6em;
}

#submit:hover{ /* Give the "ENTER" button a cool hover effect  */
     background-color: var(--ui-dark-accent);
     cursor: pointer;
}

#submit-box{ /* Effects the <div> that contains the "ENTER" button  */
     display:flex;
     justify-content: right;
}

#tag-input{  /* Effects the <div> that contains the color tag inputs */
     display: flex;
     margin-top: .5em;

}

#tag-icon{ /* Effects the <div> next to the tag-box that contains the "#" symbol */
     align-items: center;
     border-radius: .15em 0 0 .15em;
     color: var(--ui-light-grey);
     display: flex;
     font-size: 1.5em;
     justify-content: center;
     width: 1.5em;
     background-color: var(--ui-input-background-text);
     border: .05em solid var(--ui-light-grey);
     border-right: none;
}

#tag-box{ /* Effects the input box for the color tags */
     border-radius: 0 .25em .25em 0;
     border: .075em solid var(--ui-light-grey);
     border-left: none;
     font-family: 'Poppins';
     font-size: 1em;
     margin: 0;
     max-width: 8em;
     padding-left: .5em;
}

#tag-search-icon{
     color: var(--ui-light-grey);
     font-size: 1.75em;
     font-weight: 100;
}

#question-search-icon{
     color: var(--ui-light-grey);
     font-size: 1.75em;
     font-weight: 100;
}

#tag-search-input{
     margin-left: 1em;
}

/* ----------  Media Queries ---------- */

@media screen and (max-width: 480px){
     .header-tag, .table-tag{ /* Hides the color-tag table column unless the browser window is at least 480px wide */
          display: none;
     }


}

@media screen and (max-width: 600px){
     .header-text{
          display: none;
     }

     #browse-inputs{
          flex-direction: column-reverse;
     }

     #tag-search-input{

     }
}

@media screen and (max-width: 700px){
     .header-date, .table-date{ /* Hides the date table column unless the browser window is at least 700px wide */
          display: none;
     }
}


@media screen and (min-width: 400px){
     #tag-box{ /* Changes the size of the tag box so that it uses more space on larger screen devices. */
          max-width: 10em;
     }
}

@media screen and (min-width: 600px){
     #tag-search-box{
     max-width: 8em;
     }
}

@media screen and (min-width: 700px){
     body{
          margin: 1em; /* Only adds a margin once the browser window exceeds the max width of the <body> */
     }

     #entry-form{
          border-radius: .5em; /* Only gives the entry form box rounded corners in cases where there is padding on the sides of the box. */
     }
}

